@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;600;700;800&display=swap');

.thumbnail h1, aside{
    color: white;

}

.thumbnail h1{
    font-family: 'Spartan', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    margin: 0;
}
.thumbnail aside{
    font-family: 'Spartan', sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    margin-bottom: 2rem;
}
.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

