@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');


body {
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;

}
